@import "~antd/dist/antd.css";

.drawer {
  margin-left: 5rem;
  margin-top: 2rem;
  /* z-index: -1; */
}

.list {
  /* margin-top: 3rem; */
  margin-left: 2rem;
}

/* .ant-layout-sider-children {
  margin-top: 3rem !important;
} */
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-typography {
  margin-bottom: 0 !important;
}

.inputBox {
  margin: 1rem;
}

.inputBoxLabel {
  margin-bottom: 1rem !important;
  color: rgb(105, 105, 105) !important;
  font-size: 1rem !important;
}

.imgCover {
  border: 1px solid rgb(189, 185, 185);
  width: 300px;
  height: 300px;

  /* height: 80%; */
}



.imgCoverDelete {
  width: 2 0%;
  margin-left: 17.5rem;
}

.border {
  /* padding: 2rem; */
  border: 1px solid rgb(189, 185, 185);
  /* border-bottom: 30px solid rgba(255, 0, 0, 0.1); */
  /* border-bottom-width: 3rem; */
}

/* img:hover {
  height: 700px;
} */

.headerr {
  border-bottom: 0.1px solid rgb(180, 177, 177);
  -webkit-box-shadow: 2px 13px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 13px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 13px 0px 0px rgba(0, 0, 0, 0.75);
}

.headerbox {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
}

.userCountOuter {
  background: #f2f2f2;
  border-radius: 50px;
  width: 70%;
}

.userCount {
  margin-top: 3rem !important;
}

.firstAvatar {
  position: relative;
  z-index: 3;
}

.secondAvatar {
  position: relative;
  z-index: 1;
  right: 0.7rem;
}

.thirdAvatar {
  position: relative;
  right: 1rem;
}

.icons {
  position: relative;
  width: 50px;
  right: 80%;
}

.ant-tooltip-open {
  display: "" !important;
}

/* .sidebarGrid {
  display: flex;
  flex-direction: column;
} */

.sidebarGridContent {
  margin-top: 22rem;
}

.Mainsider {
  position: relative;
  /* height: 200px; */
}

.designAdd {
  position: absolute;
  top: 650px;
  margin-left: 1rem;
}

.is-primary {
  background-color: #00d1b2;
  color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

.is-danger {
  background-color: #ff3860;

  color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;

}